*__pycache__

# do not push driving dataset to repository
trojan/data/driving
trojan/data/cifar10
trojan/data/drebin

# ignore logdirs
trojan/data/logdirs

# certain types of files
*.DS_store

# old content
*_old*

# java
*.idea

# MNIST data extracted
*MNIST-data*

# plotting directory
*plotting*
